<!DOCTYPE html>
<html lang="en">
<head data-rdcb="{{rd.cacheBuster}}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="{{rd.site.description}}">
  <title>{% block title %}{{rd.site.name}}{% endblock %}</title>
  {% assets ['css/main.css'] %}
  <!-- Assets -->
  {% endassets %}
  <!-- <link rel="stylesheet" href="{{asset('css/main.css')}}"> -->
  <link rel="canonical" href="{{canonical()}}">
  {{ head() | safe }}
</head>
<body>
<article>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-10 is-offset-1 is-6-desktop is-offset-3-desktop">
          <div class="site-name"><a href="/" title="{{rd.site.name}}">{{rd.site.name}}</a></div>
          <div class="heading">
            {% block heading %}<em>Untitled</em>{% endblock %}
          </div>
          {% if navBack %}
          <div class="rd-nav-back">
            <a href="{{navBack}}">&larr; Back</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-10 is-offset-1 is-6-desktop is-offset-3-desktop">
          <div id="primary-content" class="content">
            {% block content %} Nothing to see here {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
<!--
<footer class="footer has-text-centered">
  {{ nav("footer-menu") | safe }}
  {% block foot %}
  {% endblock%}
</footer>
-->
{{ foot() | safe }}
<!-- <script src="{{asset('js/main.js')}}"></script> -->
{% assets ['js/main.js'] %}
<!-- Assets -->
{% endassets %}
</body>
</html>
